<html lang="es">
<body style="background-color: rgb(46, 46, 46);">
    <div class="container-fluid">
        <div class="row Encabezado" style="padding: 1%;">
            <div class="col-2" style="padding: 5px;">
                <h3 class="textoEncabezado" style=" margin-left: 100px;">{{nombrePag}}</h3>    
            </div>
            <div class="col-1" style="padding: 10px;">
                <a href="/tienda">
                    <h4 class="textoEncabezado textoNav">{{tienda}}</h4>
                </a>     
            </div>
            <div class="col-1" style="padding: 10px; width: 9.5%;">  
                <a href="/tienda">
                    <h4 class="textoEncabezado textoNav">{{noticias}}</h4>
                </a>
            </div>
            <div class="col-1" style="padding: 10px; width: 9.5%;">
                <a href="/tienda">
                    <h4 class="textoEncabezado textoNav">{{soporte}}</h4>
                </a>          
            </div>
            <div class="col-3" style="padding: 10px;">
                <a href="/tienda">
                    <h4 class="textoEncabezado textoNav">{{acerca}}</h4>
                </a>          
            </div>
        </div>
        <div class="row" style="padding: 101px; height:100%; padding-bottom: 11%;">
            <div style="height: 50px; margin-bottom: 10px;">
                <h1 class="textoEncabezado" style="margin-top: 1%;">Recuperar Contraseña</h1>
            </div>
            <div class="cartarecuperar">
                <div style="padding: 20px;">
                    <div class="textoEncabezado">
                        <h6>He olvidado el nombre o contraseña de mi cuenta de Steam</h6>       
                    </div>
                    <div class="textoEncabezado" style="height: 25px;">
                        <p style="font-size: 13px;">Introduce tu dirección de correo electrónico</p>       
                    </div>
                        <div class="input-group mb-2" style="background-color: transparent;">
                            <span class="input-group-text custom-symbol" id="basic-addon1" style="background-color: transparent;">&#64;</span>
                            <input style="background-color: transparent;" type="text" class="form-control custom-input" placeholder="Correo Electronico" aria-describedby="basic-addon1">
                        </div>

                    <div class="textoEncabezado">
                        <button type="button" class="btn btn-outline-primary">Enviar mensaje de recuperación</button>     
                    </div>
                    <div>
                        <span style="font-size: 13px;">¿Recuerdas la contraseña?</span> 
                        <a style="font-size: 13px; margin-left: 5px; color: #ccc;" href="/login">Iniciar Sesion</a>
                    </div>
                </div>    
            </div>
        </div>    
    </div>
    <div style="background-color: black; height: 30px;">
    </div>
</body>
</html>