
.bloqueSeparacion{
  background-color: rgb(26, 26, 26);
  margin-top: 1%;
  margin-bottom: 1%;
  border: 1px solid #161616;
}
.Encabezado{
    background-color: rgb(0, 0, 0);
}
.textoNav:hover{ /* Color dorado al iluminar */
  color: #ffffff;
  transition: all 0.5s ease;
}
.textoEncabezado{
    color: rgb(186, 186, 186);
}
a {
    text-decoration: none;
    color: inherit;
    outline: none; /* Eliminar el borde en foco */
  }

.custom-input::placeholder {
    color: #ccc; /* Color del texto del placeholder */
}

.custom-input{
  color: #ccc; /* Color del texto del placeholder */
}
.custom-symbol {
  color: #ccc; /* Cambia el color del símbolo @ */
}

.cartarecuperar{
  height: 20%;
  width: 50%; 
  padding-top: 10px; 
  margin-top: 10px; 
  background-color: black;
  border-radius: 10px;
}

.barraEncabezado{
    top: 0;
    position: fixed;
    width:100%;
    z-index: 1000;
}

.articleDestacado{
  position: relative;
  transition: all .3s ease;
}

.articleDestacado img:first-child{
  box-shadow: 0 60px 60px -60px;
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
}

.articleDestacado img:last-child{
  position: absolute;
  width: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(20%);
  transition: .3s ease;
  opacity: 0;
}

.articleDestacado:hover{
  transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
}

.articleDestacado::before{
  content: '';
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to bottom, 
    transparent 100%,
    rgb(0,0,0,0.5) 50%,
    rgb(0,0,0) 95%
    );
    opacity: 0;
    transition: all .3s ease;
}
.articleDestacado:hover::before{
  opacity: 1;
}
.articleDestacado:hover img:last-child{
  opacity: 1;
  transform: translateY(5%);
  
}

.search-container {
  position: relative;
}
.search-container input {
  width: 100%;
  padding-right: 40px;
}
.search-container .search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #6c757d;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.ofertas{
  display: flex;
  height: 300px;
  overflow: visible;
}

.ofertas img{
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: .5;
  transition: .5s ease;
  position: relative;
}

.ofertas img:hover{
  width: 120px;
  opacity: 1;
  position: relative;
  filter: contrast(120%);
  transform: scaleY(110%);
}

.festi{
  width: 100%;
  transition: all 0.3s ease;
}

.festi:hover{
  transition: all .3s ease;
  transform: scale(105%);
  filter: brightness(250%);
}

.imagenFree{
  width: 100%;
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: contain;
  transition: all 0.3s ease;
}

.imagenFree:hover{
  transition: all .3s ease;
  transform: scale(105%);
  filter: brightness(150%);
}
.lista-hover li{
  color: #ccc;
  padding-top: 2%;
}

.lista-hover li:hover {
  background-color: rgb(186, 186, 186);
  color: rgb(26, 26, 26);
}