<html lang="es">
<body style="background-color: rgb(46, 46, 46);">
    <div class="container-fluid">

        <div class="row Encabezado barraEncabezado" style="padding-top: 1%;">
            <div class="col-2">
                <h3 class="textoEncabezado" style=" margin-left: 100px;">{{nombrePag}}</h3>    
            </div>
            <div class="col-1">
                <a href="/tienda">
                    <h4 class="textoEncabezado">{{tienda}}</h4>
                </a>     
            </div>
            <div class="col-1">  
                <a href="/tienda">
                    <h4 class="textoEncabezado">{{noticias}}</h4>
                </a>
            </div>
            <div class="col-1">
                <a href="/tienda">
                    <h4 class="textoEncabezado">{{soporte}}</h4>
                </a>          
            </div>
            <div class="col-3">
                <a href="/tienda">
                    <h4 class="textoEncabezado">{{acerca}}</h4>
                </a>          
            </div>
            <div class="col-3">
                <a href="/tienda">
                    <h4 class="textoEncabezado">Usuario</h4>
                </a>
            </div>
        </div> 
        
        <div class="row" style="height: 50px; margin-top: 6%;">
            <div class="col-2">
                <h4>Categorias</h4>
            </div>

            <div class="col-8"> 
                <div class="row">              
                    <span>{{destacado}}</span>
                </div>
            </div>

            <div class="col-2">
                
            </div>
        </div>
        
    </div>    
</body>
</html>
