<html lang="es">
<body style="background-color: rgb(255, 255, 255);">
    <div class="container-fluid">
        <div class="row Encabezado">
            <div class="col-1" style="padding: 10px;">
                <a href="./tienda">
                    <img src="https://i.ibb.co/cLh3zdX/carrito-de-compras.png" class="carritoCompras"/>
                </a>                   
            </div>
            <div class="col-4" style="padding: 10px;">
                <h3 style="margin-left: 30px; color: rgb(186, 186, 186); margin-top: 2px;">{{nombrePag}}</h3>
            </div>
            <div class="col-2" style="margin-top: 16px;">
                <input type="text" placeholder="{{usuario}}" [(ngModel)]="email">
            </div>
            <div class="col-2" style="margin-top: 16px;">  
                <input type="password" placeholder="{{contrasenatexto}}" [(ngModel)]="contrasena">
            </div>
            <div class="col-1">
                <a>
                    <button type="button" class="btn btn-secondary botonIngresar" (click)="consulta()">{{ingresar}}</button>
                </a>          
            </div>
            <div class="col-1">
                <a href="/registro">
                    <button type="button" class="btn btn-secondary botonRegistrar" style="padding-right: 10px;">{{Regs}}</button>
                </a>          
            </div>
            <div class="col-1">
                <a href="/recuperarcontrasena" class="texto-clickeable" style="line-height: 0.2;">{{RC}}</a>
            </div>
        </div>
        <div class="row">
            <img src="https://i.ibb.co/6vmGPVF/Illustration-web-Grande.pngg" class="imagenGrande"/>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color: rgb(46, 46, 46);">
                    <div class="modal-header" style="background-color: rgb(46, 46, 46);">
                        <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: rgb(255, 255, 255);">Credenciales incorrectas</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="color: rgb(255, 255, 255); background-color: rgb(46, 46, 46);">
                        Ha ingresado el correo o la contraseña de forma incorrectas!!
                    </div>
                    <div class="modal-footer" style="background-color: rgb(46, 46, 46);">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>