<html lang="es">

<body>
    <div class="container-fluid">
        <div class="row Encabezado barraEncabezado">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">

                    <h4 class="textoNav tituloTienda">
                        {{nombrePag}}
                    </h4>

                    <div class="navbar-nav me-auto">
                        <a class="nav-link textoNav" href="/tienda">{{tienda}}</a>
                        <a class="nav-link textoNav" href="/soporte">{{soporte}}</a>
                        <a class="nav-link textoNav" href="/nosotros">{{acerca}}</a>
                    </div>

                    <div class="dropdown ms-auto">
                        <a class="nav-link dropdown-toggle textoNav" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" (click)="toggleDropdown()">
                            {{USUARIO}}
                        </a>
                        <ul id="desplegable" class="dropdown-menu" [class.show]="dropdownVisible">
                            <li><a class="dropdown-item" href="/usuario">Perfil</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="row" style="padding: 8%;">
        <div class="cms-page-content container">
            <h1>Acerca de Virtual Vault</h1>

            <hr><br>
            Virtual Vault es una plataforma global de distribución de videojuegos fundada en 2024. Con sede en Silicon
            Valley, California, Virtual Vault se ha posicionado rápidamente como un líder en el sector del
            entretenimiento digital. La plataforma ofrece una vasta biblioteca de juegos, que abarca desde los títulos
            más populares hasta joyas independientes, proporcionando a los jugadores una experiencia de compra y juego
            inigualable.
            Virtual Vault no solo se destaca por su extenso catálogo de juegos, sino también por su ecosistema robusto
            que incluye características sociales avanzadas. Los usuarios pueden conectarse con amigos, unirse a
            comunidades de jugadores, y participar en eventos en línea. La plataforma también ofrece recomendaciones
            personalizadas basadas en las preferencias y el historial de juego de los usuarios, asegurando que siempre
            haya algo nuevo y emocionante para descubrir.
            Virtual Vault cuenta con millones de usuarios registrados y ha facilitado innumerables conexiones entre
            jugadores de todo el mundo. Además, la plataforma ofrece herramientas y servicios para desarrolladores,
            permitiéndoles distribuir y gestionar sus juegos de manera eficiente. Virtual Vault proporciona a los
            desarrolladores análisis detallados, marketing integrado y soporte técnico, ayudándolos a alcanzar una
            audiencia global.
            A través de su compromiso con la innovación y la calidad, Virtual Vault se dedica a ofrecer una experiencia
            de juego excepcional, tanto para jugadores como para desarrolladores, consolidándose como un pilar
            fundamental en la comunidad de videojuegos.

            <h2 style="margin-top: 2%;">Contacto</h2>
            <strong>Virtual Vault, Inc.</strong><br>
            620 Crossroads Blvd.<br>
            Cary, Carolina del Norte, Estados Unidos<br>
            Telf. +57 888 000 111<br>
            &nbsp;
        </div>
    </div>
</body>

</html>